doctype
html(ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title angular-pintura demo
    link(href='styles/styles.css', rel='stylesheet')

    //- script(type='text/ng-template', id='panoramacontrols.html')

  body(ng-controller='PinturaCtrl')
    .container
      h1 angular-pintura
      .row 
        form(role=form).col-md-2
          .form-group
            button.btn.btn-default.btn-block(type='button', ng-click='setURLSource1()') URL-Source 1
            button.btn.btn-default.btn-block(type='button', ng-click='setURLSource2()') URL-Source 2
            button.btn.btn-default.btn-block(type='button', ng-click='setObjectSource()') Object-Source
            button.btn.btn-default.btn-block(type='button', ng-click='setSmallImage()') Small-Image
            button.btn.btn-default.btn-block(type='button', ng-click='setCollage()') Collage
          .form-group: .checkbox: label
            input(type='checkbox', ng-model='image.fitOnload')
            | Fit-onload
          .form-group: .checkbox: label
            input(type='checkbox', ng-model='image.showIndicator')
            | Show-inidcator
          .form-group
            label
              | Scaling
              input.form-control(ng-model='image.scaling', type='number')
            label
              | Max-Scaling
              input.form-control(ng-model='image.maxScaling', type='number')
            label
              | Scale-Step
              input.form-control(ng-model='image.scaleStep', type='number')
            label
              | MWheel-Scale-Step
              input.form-control(ng-model='image.mwScaleStep', type='number')
          .form-group 
            label
              | Position-X
              input.form-control(ng-model='image.position.x', type='number')
            label
              | Position-Y
              input.form-control(ng-model='image.position.y', type='number')
            label
              | Move-Step
              input.form-control(ng-model='image.moveStep', type='number')
        .col-md-10
          .progress(ng-if='image.progress && image.progress < 1')
            .progress-bar(role='progressbar', 
                          aria-valuenow='{{image.progress}}', 
                          aria-valuemin='0', 
                          aria-valuemax='1', 
                          style='width:{{image.progress*100}}%')
          ng-pintura(ngp-src='image.src', 
                     ngp-scaling='image.scaling', 
                     ngp-position='image.position',
                     ngp-max-scaling='image.maxScaling',
                     ngp-scale-step='image.scaleStep',
                     ngp-move-step='image.moveStep',
                     ngp-mw-scale-step='image.mwScaleStep',
                     ngp-fit-onload='image.fitOnload',
                     ngp-show-indicator='image.showIndicator',
                     ngp-progress='image.progress')
            include ngp-controls.jade
    // libs
    script(src='lib/angular/js/angular.min.js')
    //- script(src='lib/angular/js/angular.js')
    script(src='lib/konva/js/konva.min.js')
    //- script(src='lib/konva/js/konva.js')
    // panoramaviewer scripts
    //- script(src='js/angular-pintura.min.js')
    script(src='js/angular-pintura.js')
    script(src='js/app.js')